*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9633ff;
    font-family: 'Poppins', sans-serif;
}
.goon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}
input{
    border: none;
    width: 300px;
}
.clove{
    border: 3px solid rgb(236,225,225);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
i{
    color: #9633ff;
    margin-right: 1rem;
}
h2{
    text-align: center;
    margin: 2rem;
}
button{
    background-color: #9633ff;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
}