*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9633ff;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: white;
}